{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My stats server</title>
</head>
<body>
    <h1>Well done!</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</body>
</html>